@model IEnumerable<GerenciamentoBovinos.Models.TipoProduto>

@{
    ViewBag.Title = "Lista de Tipo de Produtos";
}

<h2 class="text-center">Lista de Tipo de Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
