@model IEnumerable<GerenciamentoBovinos.Models.Raca>

@{
    ViewBag.Title = "Lista de Raças";
}

<h2 class="text-center">Lista de Raças</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.Raw("Ações")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Raca", new { id = item.Id})">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </a>
                <a href="@Url.Action("Delete", "Raca", new { id = item.Id})" class="ml-2" style="color: red">
                    <i class="fa fa-trash-o fa-2x"></i>
                </a>
            </td>
        </tr>
    }

</table>
