@model GerenciamentoBovinos.Models.Produto

@{
    ViewBag.Title = "Cadastrar Produto";
}

<h2 class="text-center">Cadastrar Produto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.TipoProdutoId, "Tipo de Produto", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("TipoProdutoId", null, htmlAttributes: new { @class = "form-control" })
                <label class="text-danger" id="validaTipo"></label>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.FornecedorId, "Fornecedor", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("FornecedorId", null, htmlAttributes: new { @class = "form-control" })
                <label class="text-danger" id="validaFornecedor"></label>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Qtd, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Qtd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qtd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" , @onkeypress = "validate(event)" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.Validade, new { type = "date", @class = "form-control", id = "validade" })
                @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextAreaFor(model => model.Descricao, new { @class = "col-md-12 form-control", rows = "4" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Salvar" class="btn btn-success" onclick="validaDropDown();" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
}

<script>
    document.getElementById("validade").valueAsDate = new Date();

    function validaDropDown() {
        var tipo = $("#TipoProdutoId").val();
        var fornecedor = $("#FornecedorId").val();
        if (tipo == null && fornecedor == null) {
            $("#validaTipo").text('Campo obrigatório.');
            $("#validaFornecedor").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (tipo == null) {
            $("#validaTipo").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (fornecedor == null) {
            $("#validaFornecedor").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
    }

    function clearText() {
        $('#validaTipo').text('');
        $('#validaFornecedor').text('');
    }
</script>