<table class="table">
    <tr>
        <h3 class="text-center mt-5">Produtos Selecionados</h3>
    </tr>
    <tr>
        <th>
            @Html.DisplayName("Produto")
        </th>
        <th>
            @Html.DisplayName("Quantidade")
        </th>
        <th>
            @Html.DisplayName("Valor Unitário")
        </th>
        <th>
            @Html.DisplayName("Valor Total")
        </th>
    </tr>

    @foreach (var item in (List<GerenciamentoBovinos.Models.ItemsVendaProduto>)ViewBag.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
        </tr>
    }
</table>