@*@model IEnumerable<GerenciamentoBovinos.Models.ItemsVendaProduto>*@

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayName("Teste")
            </th>*@
        <th>
            @Html.DisplayName("Quantidade")
        </th>
        @*<th>
                @Html.DisplayName(model => model.ValorUnitario)
            </th>
            <th>
                @Html.DisplayName(model => model.ValorTotal)
            </th>*@
    </tr>

    @foreach (var item in (List<GerenciamentoBovinos.Models.ItemsVendaProduto>)ViewBag.Items)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item..NomeProduto)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>*@
        </tr>
    }
</table>
