@model GerenciamentoBovinos.Models.VendaProduto

@{
    ViewBag.Title = "Venda de Produtos";
}

<h2 class="text-center">Venda de Produtos</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DtVenda, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.DtVenda, new { type = "date", @class = "form-control", id = "dtCompra" })
                @Html.ValidationMessageFor(model => model.DtVenda, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.PrazoEntrega, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.PrazoEntrega, new { type = "date", @class = "form-control", id = "pzEntrega" })
                @Html.ValidationMessageFor(model => model.PrazoEntrega, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.MargemVenda, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.MargemVenda, new { htmlAttributes = new { @class = "form-control", @min = 0, @max = 100 } })
                @Html.ValidationMessageFor(model => model.MargemVenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.Label("Produtos", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("ProdutoId", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                @Html.Label("Disponivel", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.TextBox("ProdutoQtd", null, htmlAttributes: new { @class = "form-control", @readonly = true })
            </div>

            <div class="col-md-2">
                @Html.Label("Quantidade", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.TextBox("Qtd", null, htmlAttributes: new { @type = "number", @class = "form-control", @min = 0 })
            </div>

            <div class="col-md-2">
                <input type="button" value="Adicionar" class="btn btn-success" onclick="teste();" />
            </div>
        </div>

        @Html.Partial("_PartialItems")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#ProdutoId").change(function (event) {
        var url = "QtdProdutos/" + $(this).val();
        $.get(url, null, function (data) {
            $("#ProdutoQtd").val(data);
        });
    });

    function teste() {

        var Qtd = $("#Qtd").val();
        var Disponivel = $("#ProdutoQtd").val();
        var Selecionado = $("#ProdutoId").val();
        var Margem = $("#MargemVenda").val();


        if (Qtd <= Disponivel) {
            var url = "AddItem";
            $.get(url, {qtd : Qtd, selected : Selecionado, margem : Margem}, function (data) {
                //$("#ProdutoQtd").val(data);
            });
        }
    };

    document.getElementById("dtCompra").valueAsDate = new Date();
    document.getElementById("pzEntrega").valueAsDate = new Date();
</script>
