@model GerenciamentoBovinos.Models.VendaProduto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>VendaProduto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DtCompra, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.DtCompra, new { type = "date", @class = "form-control", id = "dtCompra" })
                @Html.ValidationMessageFor(model => model.DtCompra, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.PrazoEntrega, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.PrazoEntrega, new { type = "date", @class = "form-control", id = "pzEntrega" })
                @Html.ValidationMessageFor(model => model.PrazoEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.Label("Produtos", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("ProdutoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @*@Html.EditorFor(model => model.QtdProdutos, new { @class = "form-control", @name = "cpfcnpj", @onkeypress = "mascaraMutuario(this,cpfCnpj)", @onblur = "clearTimeout()", @maxlength = "18" });*@
        @*<input type='text' class="form-control" name='cpfcnpj' onkeypress='mascaraMutuario(this,cpfCnpj)' onblur='clearTimeout()' maxlength="18">*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    document.getElementById("dtCompra").valueAsDate = new Date();
    document.getElementById("pzEntrega").valueAsDate = new Date();

    function mascaraMutuario(o, f) {
        v_obj = o
        v_fun = f
        setTimeout('execmascara()', 1)
    }

    function execmascara() {
        v_obj.value = v_fun(v_obj.value)
    }

    function cpfCnpj(v) {

        //Remove tudo o que não é dígito
        v = v.replace(/\D/g, "")

        if (v.length <= 11) { //CPF

            //Coloca um ponto entre o terceiro e o quarto dígitos
            v = v.replace(/(\d{3})(\d)/, "$1.$2")

            //Coloca um ponto entre o terceiro e o quarto dígitos
            //de novo (para o segundo bloco de números)
            v = v.replace(/(\d{3})(\d)/, "$1.$2")

            //Coloca um hífen entre o terceiro e o quarto dígitos
            v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2")

        } else { //CNPJ

            //Coloca ponto entre o segundo e o terceiro dígitos
            v = v.replace(/^(\d{2})(\d)/, "$1.$2")

            //Coloca ponto entre o quinto e o sexto dígitos
            v = v.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3")

            //Coloca uma barra entre o oitavo e o nono dígitos
            v = v.replace(/\.(\d{3})(\d)/, ".$1/$2")

            //Coloca um hífen depois do bloco de quatro dígitos
            v = v.replace(/(\d{4})(\d)/, "$1-$2")

        }
        return v
    }
</script>
