@model GerenciamentoBovinos.Models.VendaProduto

@{
    ViewBag.Title = "Venda de Produtos";
}

<h2 class="text-center">Venda de Produtos</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DtVenda, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.DtVenda, new { type = "date", @class = "form-control", id = "dtVenda" })
                @Html.ValidationMessageFor(model => model.DtVenda, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.PrazoEntrega, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.PrazoEntrega, new { type = "date", @class = "form-control", id = "pzEntrega" })
                @Html.ValidationMessageFor(model => model.PrazoEntrega, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.Label("Margem Venda", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBox("MargemVenda", null, new { @class = "form-control", @type = "number", @min = 0, @max = 100 })
                <label class="text-danger" id="validaMargem"></label>
            </div>

            <div class="col-md-3">
                @Html.Label("Cliente", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control" })
                <label class="text-danger" id="validaCliente"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.Label("Produtos", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("ProdutoId", null, htmlAttributes: new { @class = "form-control", @onchange = "qtdProd($(this).val())" })
                <label class="text-danger" id="validaProduto"></label>
            </div>

            <div class="col-md-2">
                @Html.Label("Disponivel", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.TextBox("ProdutoQtd", null, htmlAttributes: new { @class = "form-control", @readonly = true })
                <label class="text-danger" id="validaQtd"></label>
            </div>

            <div class="col-md-2">
                @Html.Label("Valor de Custo", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.TextBox("VlrCusto", null, htmlAttributes: new { @class = "form-control", @readonly = true })
            </div>

            <div class="col-md-2">
                @Html.Label("Quantidade", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.TextBox("Qtd", null, htmlAttributes: new { @type = "number", @class = "form-control", @min = 0 })
                <label class="text-danger" id="validaQtdVenda"></label>
            </div>

            <div class="col-md-2">
                @Html.Label("Ação", htmlAttributes: new { @class = "control-label col-md-12" })
                <input type="button" value="Adicionar Items" id="btnAddItem" class="btn btn-success" onclick="addItem();" />
                <label class="text-danger" id="validaProdAdd"></label>
            </div>
        </div>

        <div id="divTable" class="col-md-10 offset-1" style="display:none">
            <table id="tbProd" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <h3 class="text-center mt-5">Lista de Produtos</h3>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Efetuar Pedido" class="btn btn-success" onclick="validaDropDown();" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function validaDropDown() {
        var cliente = $("#ClienteId").val();
        var produto = $("#ProdutoId").val();
        var rowCount = $('#tbProd tr').length;
        if (cliente == null && produto == null) {
            $("#validaCliente").text('Campo obrigatório.');
            $("#validaProduto").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (cliente == null) {
            $("#validaCliente").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (produto == null) {
            $("#validaProduto").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (rowCount == 1) {
            $("#validaProdAdd").text('Adicione Produtos.');
            setTimeout(clearText, 2000);
        }
    }

    function qtdProd(selected) {
        $.getJSON("QtdProdutos", { id: selected }, function (json) {
            $("#ProdutoQtd").val(json[0]);
            $("#VlrCusto").val(json[1]);
        });
    }

    function addItem(id = -1) {

        var Margem = $("#MargemVenda").val();
        var Selecionado = $("#ProdutoId").val();
        var Disponivel = parseInt($("#ProdutoQtd").val());
        var Qtd = parseInt($("#Qtd").val());
        var IdRemove = id;

        if (IdRemove == -1) {
            if (Disponivel <= 0) {
                $("#validaQtd").text('Sem estoque.');
                setTimeout(clearText, 2000);
                return;
            }
            else if (Disponivel < Qtd) {
                $("#validaQtdVenda").text('Superior ao estoque.');
                setTimeout(clearText, 2000);
                return;
            }
            else if (Qtd == 0 && Disponivel > 0) {
                $("#validaQtdVenda").text('Digite a qtd.');
                setTimeout(clearText, 2000);
                return;
            }
            else if (Selecionado == null) {
                $("#validaProduto").text('Campo obrigatório.');
                setTimeout(clearText, 2000);
                return;
            }
            else if (Margem == "" || Margem < 0 || Margem > 100) {
                if (Margem == "") {
                    $("#validaMargem").text('Campo obrigatório.');
                    setTimeout(clearText, 2000);
                    return;
                }
                $("#validaMargem").text('Valor entre 0 e 100.');
                setTimeout(clearText, 2000);
                return;
            }
        }

        if (IdRemove != -1 || Qtd != "" && Margem != "" && Qtd > 0 && Qtd <= Disponivel) {
            $('#btnAddItem').prop('disabled', true);

            $('#tbProd tr td').parents('tr').remove();

            //Chama o método AddItem que vai retornar o JSON
            $.getJSON("AddItem", { qtd: Qtd, selected: Selecionado, margem: Margem, remove: IdRemove }, function (json) {
                var tr;
                var totalPedido = 0;
                //Anexa cada linha na tabela HTML
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].Produto.NomeProduto + "</td>");
                    tr.append("<td>" + json[i].Qtd + "</td>");
                    tr.append("<td>" + json[i].ValorUnitario + "</td>");
                    tr.append("<td>" + json[i].ValorTotal + "</td>");
                    totalPedido += json[i].ValorTotal;
                    tr.append("<td><input type='button' value='Remover Item' id='btnAddItem' class='btn btn-danger' onclick='addItem(" + i + ")' /></td>")
                    $('table').append(tr);
                }
                tr = $('<tr/>');
                tr.append("<td colspan='3'><b>Valor total do Pedido</b></td>");
                tr.append("<td colspan='2'><b>" + totalPedido + "</b></td>");
                $('table').append(tr);

                //Atualizando os campos disponivel e valor do produto
                $("#ProdutoId").val('1');
                qtdProd('1');

                $("#divTable").css("display", "block");
            });

            setTimeout(enableButton, 3000);
        }
    };

    function enableButton() {
        $('#btnAddItem').prop('disabled', false);
    }

    function clearText() {
        $('#validaQtd').text('');
        $('#validaQtdVenda').text('');
        $('#validaProduto').text('');
        $('#validaCliente').text('');
        $('#validaProdAdd').text('');
        $('#validaMargem').text('');
    }

    $("#Qtd").val(0);
    $("#MargemVenda").val(30);

    document.getElementById("dtVenda").valueAsDate = new Date();
    document.getElementById("pzEntrega").valueAsDate = new Date();
</script>