@model IEnumerable<GerenciamentoBovinos.Models.VendaProduto>

@{
    ViewBag.Title = "Lista de Pedidos";
}

<h2 class="text-center">Lista de Pedidos</h2>

<p>
    @Html.ActionLink("Gerar Pedido", "Create", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrazoEntrega)
        </th>
        <th>
            @Html.Raw("Ações")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoEntrega)
            </td>
            <td>
                <a href="@Url.Action("Edit", "VendaProduto", new { id = item.Id})">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </a>
            </td>
        </tr>
    }

</table>