@model GerenciamentoBovinos.Models.Consulta

@{
    ViewBag.Title = "Adicionar Atendimento Veterinário";
    var idBovino = ViewBag.BovinoId;
}

<h2 class="text-center">Adicionar Atendimento Veterinário</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DtServico, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(model => model.DtServico, new { type = "date", @class = "form-control", @readonly = "readonly", id = "dtServico" })
                @Html.ValidationMessageFor(model => model.DtServico, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.Label("Brinco", new { @class = "control-label col-md-10" })
                @Html.TextBox("Brinco", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.VeterinarioId, "Veterinário", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("VeterinarioId", null, htmlAttributes: new { @class = "form-control" })
                <label class="text-danger" id="validaVeterinario"></label>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextAreaFor(model => model.Descricao, new { @class = "col-md-12 form-control", rows = "4" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "ListaAtend", new { bovinoId = idBovino }, new { @class = "btn btn-danger" })
                <input type="submit" value="Salvar" class="btn btn-success" onclick="validaDropDown();" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
}

<script>
    document.getElementById("dtServico").valueAsDate = new Date();

    function validaDropDown() {
        var bovino = $("#BovinoId").val();
        var veterinario = $("#VeterinarioId").val();
        if (bovino == null && veterinario == null) {
            $("#validaBovino").text('Campo obrigatório.');
            $("#validaVeterinario").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (bovino == null) {
            $("#validaBovino").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
        else if (veterinario == null) {
            $("#validaVeterinario").text('Campo obrigatório.');
            setTimeout(clearText, 2000);
        }
    }

    function clearText() {
        $('#validaBovino').text('');
        $('#validaVeterinario').text('');
    }
</script>
