@model GerenciamentoBovinos.Models.Confinamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Confinamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bovino.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bovino.Lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
