@model GerenciamentoBovinos.Models.Confinamento

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Confinamento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Bovino.Brinco, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Bovino.Brinco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bovino.Brinco, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.DtEntrada, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.DtEntrada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DtEntrada, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.CustoTotal, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.CustoTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustoTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.ActionLink("Produtos", "VendaProduto", null, new { @class = "btn btn-primary" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
