@model IEnumerable<GerenciamentoBovinos.Models.Confinamento>

@{
    ViewBag.Title = "Bovinos em Confinamento";
}

<h2 class="text-center">Bovinos em Confinamento</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bovino.Brinco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoTotal)
        </th>
        <th>
            @Html.Raw("Ações")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bovino.Brinco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoTotal)
            </td>
            <td>
                @Html.ActionLink("Produtos", "ListaProd", new { bovinoId = item.BovinoId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Atend. Vet.", "ListaAtend", new { bovinoId = item.BovinoId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Editar Peso", "EditarPeso", new { bovinoId = item.BovinoId }, new { @class = "btn btn-warning" })

                @*<a href="@Url.Action("EditarPeso", "Confinamento", new { id = item.BovinoId})">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </a>*@
            </td>
        </tr>
    }
</table>