@model IEnumerable<GerenciamentoBovinos.Models.Confinamento>

@{
    ViewBag.Title = "Bovinos em Confinamento";
}

<h2 class="text-center">Bovinos em Confinamento</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bovino.Brinco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoTotal)
        </th>
        <th>
            @Html.Raw("Ações")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bovino.Brinco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoTotal)
            </td>
            <td>
                @Html.ActionLink("Produtos", "ListaProd", new { bovinoId = item.BovinoId}) |
                @Html.ActionLink("Atend. Vet.", "ListaAtendVet", new { bovinoId = item.BovinoId })
            </td>
        </tr>
    }
</table>