@model GerenciamentoBovinos.Models.Bovino

@{
    ViewBag.Title = "Editar Bovino";
}

<h2 class="text-center">Editar Bovino</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Brinco, "Brinco", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Brinco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Brinco, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.RacaId, "Raça", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("RacaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RacaId, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" , @onkeypress = "validate(event)"} })
                @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DtNascimento, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextBoxFor(Model => Model.DtNascimento, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DtNascimento, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.VlrUnitario, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.EditorFor(model => model.VlrUnitario, new { htmlAttributes = new { @class = "form-control" ,@onkeypress = "validate(event)" } })
                @Html.ValidationMessageFor(model => model.VlrUnitario, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.FornecedorId, "Fornecedor", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownList("FornecedorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.TextAreaFor(model => model.Descricao, new { @class = "col-md-12 form-control", rows = "4" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
}