@model GerenciamentoBovinos.Models.VendaBovino

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VendaBovino</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.InscricaoEstadual)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cliente.InscricaoEstadual)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DtVenda)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DtVenda)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PrazoEntrega)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PrazoEntrega)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalPedido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalPedido)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
