@model IEnumerable<GerenciamentoBovinos.Models.VendaBovino>

@{
    ViewBag.Title = "Lista de Venda de Bovinos";
}

<h2 class="text-center">Lista de Venda de Bovinos</h2>

<p>
    @Html.ActionLink("Gerar Pedido", "Create", null, new { @class = "btn btn-secondary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrazoEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPedido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPedido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>